body {
    background: #FFFFFF;
    margin: 0px;
}

.container {
    border-radius: 32px;
    background: #FFFFFF;
    box-shadow: -1px -1px 2px 2px #FCF0E6;
    height: 806px;
    width: 720px;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.title {
    color: #142E48;
    font-family: Roboto;
    font-weight: bold;
    font-size: 18px;
    line-height: normal;
    letter-spacing: 0px;
    text-align: left;
}

.inputBlock {
    height: 48px;
    width: 615px;
    border-radius: 12px;
    background: #FFFFFF;
    border: 1px solid #FF7D30;
    color: #142E48;
    font-size: 18px;
    padding-left: 5px;
    outline: none;
}

.inputbtn {
    border-radius: 5px;
    background: linear-gradient(94.54deg, #FF8212 0%, #ED4454 100%);
    border: none;
    color: #FFFFFF;
    font-family: PingFang HK;
    font-size: 14px;
    line-height: normal;
    letter-spacing: 0px;
    text-align: left;
    padding: 8px;
    cursor: pointer;
    outline: none;
}

.submitBtn {
    width: 320px;
    height: 56px;
    margin-left: 200px;
    margin-top: 149px;
    border-radius: 12px;
    color: #FFFFFF;
    font-family: Roboto;
    font-weight: bold;
    font-size: 18px;
    line-height: normal;
    letter-spacing: 0px;
    text-align: center;
    background: linear-gradient(94.54deg, #FF8212 0%, #ED4454 100%);
    cursor: pointer;
    outline: none;
}

.queryBtn {
    width: 50px;
    height: 35px;
    margin-right: 0px;
    margin-top: 0px;
    border-radius: 12px;
    color: #F2B840;
    font-family: Roboto;
    font-weight: bold;
    font-size: 10px;
    line-height: normal;
    letter-spacing: 0px;
    text-align: center;
    background: #142E48;
}

.process {
    display: none;
    margin-left: 450px;
    margin-top: -30px;
    color: #142E48;
    font-family: Roboto;
    font-weight: bold;
    font-size: 10px;
    line-height: normal;
    letter-spacing: 0px;
    text-align: center;
}

.filePath {
    color: #142E48;
    font-family: PingFang HK;
    font-size: 14px;
    line-height: normal;
    letter-spacing: 0px;
    text-align: left;
}

.icons {
    width: 60px;
    height: 60px;
    border-radius: 8px;
}

.appnames {
    color: #000000;
    font-family: Roboto;
    font-weight: bold;
    font-size: 24px;
    line-height: normal;
    letter-spacing: 0px;
    text-align: left;
}

.versions {
    color: #000000;
    font-family: Roboto;
    font-size: 14px;
    line-height: normal;
    letter-spacing: 0px;
    text-align: left;
    font-weight: bold;
}

.times {
    color: #000000;
    font-family: Roboto;
    font-size: 14px;
    line-height: normal;
    letter-spacing: 0px;
    text-align: left;
    padding-left: 0.5rem
}

.updateBtn {
    width: 107px;
    height: 48px;
    border-radius: 8px;
    background: linear-gradient(94.54deg, #FF8212 0%, #ED4454 100%);
    color: #FFFFFF;
    font-family: Roboto;
    font-weight: bold;
    font-size: 14px;
    line-height: normal;
    letter-spacing: 0px;
    text-align: center;
    cursor: pointer;
    outline: none;
}

.OffShelfBtn {
    width: 239px;
    height: 52px;
    border-radius: 8px;
    background: linear-gradient(94.54deg, #FF8212 0%, #ED4454 100%);
    color: #FFFFFF;
    font-family: Roboto;
    font-weight: bold;
    font-size: 14px;
    line-height: normal;
    letter-spacing: 0px;
    text-align: center;
    cursor: pointer;
    outline: none;
}

.closes {
    margin-left: 375px;
    margin-top: 20px;
}

.item {
    display: flex;
    position: relative;
    padding-left: 2.5rem;
    padding-top: 1rem;
    padding-right: 2.5rem;
    justify-content: space-around;
}

.item-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.item-btn img {
    margin-right: 0.5rem;
}

.scroll {
    overflow: auto;
    display: none;
    height: 700px;
    width: 710px;
}

.loading {
    position: absolute;
    top: 40%;
    left: 45%;
    width: 128px;
    height: 128px;
}

.maskHalf{
    position: fixed;
    left: 0px;
    top: 0px;
    background: #000;
    width: 100%;
    height: 100%;
    opacity: 0.3;
}

.message{
    position: absolute;
	background: #fff;
	width: 25%;
	height: 20%;
    top: 30%;
    left: 38%;
    border-radius: 5px;
    box-shadow: -1px -1px 2px 2px #FCF0E6;
}

#header{
    height: 40px;
    margin-top: 50px;
}

#header-right{
    position: absolute;
    width: 25px;
    height: 25px;
    border-radius: 5px;
    background: red;
    color: #fff;
    right: 5px;
    top: 5px;
    text-align: center;
}